{% extends 'base.html.twig' %}

{% block title %}Professeurs{% endblock %}

{% block body %}
  <table class="ui celled table">
    <thead>
      <tr>
          <th>id</th>
          <th>nom</th>
          <th>prenom</th>
          <th>date de naissance</th>
          <th></th>
      </tr>
    </thead>
      {% for professeur in professeurs %}
          <tr>
              <td>{{ professeur.id }}</td>
              <td>{{ professeur.nom }}</td>
              <td>{{ professeur.prenom }}</td>
              <td>{{ professeur.dateNaiss|date("d/m/Y") }}</td>
              <td><a href="{{ path('professeur_show', {'id': professeur.id}) }}">Afficher</a></td>
          </tr>
      {% endfor %}
  </table>
{% endblock %}
