{% extends 'base.html.twig' %}

{% block title %}{{ skill.libelle }}{% endblock %}

{% block body %}
    <table>
        <tr>
            <td>Id : </td>
            <td>{{ skill.id }} </td>
        </tr>
        <tr>
            <td>Code : </td>
            <td>{{ skill.code }}</td>
        </tr>
        <tr>
            <td>Libelle : </td>
            <td>{{ skill.libelle }}</td>
        </tr>
        <tr>
            <td>Nombre d'étudiants maximum : </td>
            <td>{{ skill.nbEtudiantsMax }}</td>
        </tr>
    </table>
{% endblock %}
