<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/semantic.min.css') }}">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
      <div class="ui secondary  menu">
        <div class="ui dropdown item">
          Étudiants
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item"><a href="{{ path('etudiantLister') }}">Liste</a></div>
            <div class="item"><a href="{{ path('etudiantAjouter') }}">Ajouter</a></div>
          </div>
        </div>
        <div class="ui dropdown item">
          Maisons
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item"><a href="{{ path('home') }}">Liste</a></div>
            <div class="item"><a href="{{ path('home_new') }}">Ajouter</a></div>
          </div>
        </div>
        <div class="ui dropdown item">
          Compétences
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item"><a href="{{ path('skill') }}">Liste</a></div>
            <div class="item"><a href="{{ path('skill_new') }}">Ajouter</a></div>
          </div>
        </div>
        <div class="ui dropdown item">
          Professeurs
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item"><a href="{{ path('professeur_index') }}">Liste</a></div>
            <div class="item"><a href="{{ path('professeur_new') }}">Ajouter</a></div>
          </div>
        </div>
      </div>
        <div class="ui container">
          {% block body %}{% endblock %}
          {% block javascripts %}{% endblock %}
        </div>

        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/semantic.min.js') }}"></script>
        <script>
          $('.ui.dropdown')
            .dropdown()
          ;
        </script>
    </body>
</html>
